@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    min-width: 100vw;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

.main {
   width: 100%;
  
  height: 100%;
   background-color: #f4c531;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

#card {
   
    border-radius: 8px;
    position: relative;
    background-color: white;
    padding: 20px;
    /* overflow: hidden; */
}

input#input {
    border: none;
    outline: none;
    width: 300px;
    font-size: large;
    color: grey;
    border-bottom: 2px solid black;
}

button#search {
    padding: 10px 20px;
    border: none;
    outline: none;
    color: black;
    background-color: #f4c531;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 15px;
}

.searchInput {
    width: 100%;
    display: flex;

    justify-content: center;
    gap: 5px;
}

#name {
    user-select: none;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f4c531;
    margin: 0 auto;
    border-radius: 8px;
    border: 2px solid black;
}

#ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */
    gap: 19px;
    list-style: none;
    margin: 10px 0;
    border: 2px solid black;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    height: 200px;
}
#image{
    width:100px ;
    height: 100px;
    padding: 5px;
    border-radius: 50%;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin: 10px auto; 


}
#name p{
    font-size: 20px;
    font-weight: 800;
}
#name h5{
    font-size: 16px;
    font-weight:600;
}

#recipeBtn {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f4c531;
    color: black;
    cursor: pointer;
    border: none;
    outline: none;
    display: block;
    margin: 0px auto;
    font-weight: 600;
    font-size: 15px;
}
#recipeCard{
    
    border-radius: 8px;
    position: absolute;
    top: 50%;
    background-color: white;
    padding: 30px;
    
   left: 50%;
   transform: translate(-50%,-50%);
   display: none;
  

}
#recipeCard p{
    font-weight: 400;
    font-size: 18px;
    text-align: left;
}
#recipeCard h5{
    font-weight: 700;
    font-size: larger;
    margin-bottom: 20px;
    text-align: center;
}
#close{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f4c531;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
#close i{
color: black;
font-weight: 500;
font-size: 30px;
cursor: pointer;
}